@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Press+Start+2P&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
/*.container i{
    color: #EF4B4B;
    background-color: #383838;
    padding: 20px;
    border-radius: 25px;
}
.container{
    text-align: center;
    padding-top: 45vh;
}*/
.container #gif{
    width: 100rem;
    height: 100rem;
    position: fixed;
    overflow: hidden;
}
.container h1{
    color: #FFFFDE;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P';
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}