@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Press+Start+2P&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.container img{
    height: 160vh;
    position: fixed;
    overflow: hidden;
}
.container p{
    font-family: 'Press Start 2P';
    font-size: 9px;
    position: relative;
    float: right;
    color: #FFFFDE;
    direction: rtl;
    padding-top: 80%;
    margin-right: 3%;
    line-height: 25px;
}
.container span{
    color: yellow;
}